body {
    border: none;
    margin: 0;
    border: 0;
}

h1 {
    margin-top: -15px;
    border: none;
}

.container {
    background-color: #fc0;
    width: 200px;
    height: 170px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15%;
    margin-left: 40%;
}

.nome {
    margin: 0;
    margin-bottom: 10px;
}

.Botão1 {
    margin-top: 10px;
    display: inline;
    text-align: center;
    float: center;
    cursor: pointer;
}

.Botão2 {
    margin-top: 10px;
    float: center;
    cursor: pointer;
}

.Botão3 {
    margin-top: 10px;
    display: inline;
    float: center;
    margin-right: 33px;
    cursor: pointer;
}