body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: 0;
    background: linear-gradient(
        90deg,
        rgb(243, 82, 8) 0%,
        #fc0 100%
    );
  }

h1 {
    border: none;
    margin-top: 20px;
    color: rgb(255, 72, 0);
}

.container {
    width: 300px;
    height: 400px;
    background-color: #fc0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.cell {
    width: 15px;
    height: 15px;
    background: #eee;
    display: inline-block;
    padding: 11px;
    margin: 5px;
    cursor: pointer;
    color: black
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.Botão1 {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.6em;
    text-decoration: none;
    border: 1px solid #ccc;
    width: 160px;
    background-color: #e5e5e5;
    color: #000;
}

.Botão2 {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.6em;
    text-decoration: none;
    border: 1px solid #ccc;
    width: 160px;
    background-color: #e5e5e5;
    color: #000;
}

.Botão3 {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.6em;
    text-decoration: none;
    border: 1px solid #ccc;
    width: 160px;
    background-color: #e5e5e5;
    color: #000;
}

.Botão1:hover {
    background-color: rgb(197, 193, 193);
}

.Botão2:hover {
    background-color: rgb(197, 193, 193);
}

.Botão3:hover {
    background-color: rgb(197, 193, 193);
}

.mensagemvitoria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 138, 5);
    flex-direction: column;
}

.btn-reiniciar {
    font-size: 2.5rem;
    background-color: #fc0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

.btn-reiniciar:hover {
    background-color: white;
    color:#fc0
} 

.textovitoria {
    color: white;
    font-size: 5rem;
}

.MostrarMensagem {
    display: flex;
} 