* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg,rgb(243, 82, 8) 0%,#fc0 100%);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 72, 0);
    margin: 64px 0 64px 0;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    
}

.cell {
    width: 100px;
    height: 100px;
    background: #eee;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.Botão1 {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.6em;
    text-decoration: none;
    border: 1px solid #ccc;
    width: 160px;
    background-color: #e5e5e5;
    color: #000;
}

.Botão1:hover {
    background-color: rgb(197, 193, 193);
}

.mensagemvitoria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 138, 5);
    flex-direction: column;
}

.textovitoria {
    color: white;
    font-size: 5rem;
}

.MostrarMensagem {
    display: flex;
} 